.login {
  width: 100%;
  height: 100%;
  background-image: url("images/town.png");
  background-size: 100% 100%;
}
.login .login-header {
  height: 80px;
  display: flex;
  align-items: center;
  /*background-color: rgba(21, 20, 13, 0.5);*/
}
.login .login-header img {
  width: 40px;
  height: 40px;
  margin: 0 15px;
}
.login .login-header h1 {
  color: #FFFFFF;
  font-size: 32px;
  margin: 0;
  padding: 0;
}
.login .login-content {
  width: 400px;
  height: 300px;
  margin: 100px auto;
  padding: 20px 40px;
}
.login .login-content H2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #FFFFFF;
}
