.pageHeader {
  background: #FFFFFF;
  margin-bottom: 15px;
}
.ant-advanced-search-form {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  background: #FFFFFF;
}
