.grid-style{
    width: 33.3%!important;

    .grid-title{
        display: flex;
        align-items: center;
    
        img{
            margin-right: 10px;
            width: 20px;
            height: 20px;
        }
    }

    .grid-paragraph{
        color: grey;

        span{
            color: grey!important;
        }
    }

    .grid-time{
        float: right;
    }
}

.navButton{
    margin-bottom: 15px;
}

.groupCardList{
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;

    img{
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }
}

