.grid-style {
  width: 33.3% !important;
}
.grid-style .grid-title {
  display: flex;
  align-items: center;
}
.grid-style .grid-title img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.grid-style .grid-paragraph {
  color: grey;
}
.grid-style .grid-paragraph span {
  color: grey!important;
}
.grid-style .grid-time {
  float: right;
}
.navButton {
  margin-bottom: 15px;
}
.groupCardList {
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
.groupCardList img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
